
#---AWS + OPENSEARCH----------
opensearch-py
boto3
requests-aws4auth
python-dotenv

#---EMBEDDING GENERATION----------
tiktoken
openai
aiofiles
tenacity

#---ATTACHMENTS PROCESSING----------
PyPDF2
pdf2image
pytesseract
tabulate
python-docx
pandas
xlrd
# tesseract-ocr  # Ensure Tesseract OCR is installed & present in ./appliacations
# poppler-utils  # Ensure Poppler is installed & present in ./appliacations

#---FRONT END----------
streamlit
streamlit-authenticator
streamlit-extras
